{% extends "Kapp/base.html" %}
{% block content %}
<div class="wrapper-div">
    <!--welcomeimage-->
  <img src="https://scontent.fmru3-1.fna.fbcdn.net/v/t1.6435-9/46519515_1631511140283693_44991006491279360_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=6OVap3p72KUAX8mRBYY&_nc_ht=scontent.fmru3-1.fna&oh=00_AT_LhxB3iAwBqtM9ziFp4G20NwuxcFRuh9kbZhlQdiTjQg&oe=61F961D8" width="100%" alt="...">
<br>
<div class="row">
    <center><h1>Dog Breeders</h1></center><hr>
    <div class="d-flex">
       <div class="flex-shrink-1">
      <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/135415721_3135666733201452_5178650632173710397_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=h38T2Im_b6wAX8Bzoj6&_nc_ht=scontent.fmru7-1.fna&oh=00_AT9uTJXgBX2FRmv5Q3xr341C2T0wM8hGpZjuXXvXe_flEw&oe=6202F1BB" class="img-fluid rounded-start" alt="...">
       </div>
    <div class="flex-grow-1 ms-3">
      <p>Starting as a new breeder in 2014, by two young passionate dog lovers, Keshuv & Krishna, we eventually made our name in dog breeding.
  We have been producing quality puppies, and we intend to improve the quality by bringing a new bloodline in the coming years and new dog breeds.<br>
      <strong>Our aim is to make happy home by providing you with loving companion who is going to fill your home with happiness.</strong><br>
      We just launched the name "Kanine Passion" to represent us.
The idea behind our kennel's name emanated since we share a long-existing human-canine bond, whereby breeding turned into a passion.
Also, simply because of our unconditional love for dogs treated as part of the family.</p>
    </div>
</div>
</div>
<br>
    <br>

        <center><h1>Find a Perfect Breed</h1><hr><br>
        <p>Here are some of our breeds that can become your best companions and devoted friends.</p></center><br>

<div class="row row-cols-1 row-cols-md-4 g-4" style="background-image: radial-gradient( circle 1351px at 10% 20%,  rgba(255,247,211,1) 0%, rgba(187,187,187,1) 88% );">

    <div class="col">
    <div class="card">
      <img src="https://scontent.fmru4-1.fna.fbcdn.net/v/t1.6435-9/46429764_1623315847769889_4764977571634872320_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=doSHMsGnsokAX-13JNc&_nc_ht=scontent.fmru4-1.fna&oh=00_AT_jBO8NYO_QVQzPY5AmS3n1i6miASiudt5LGKmRHx_qhQ&oe=620714E4" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Golden Retriever</h5>
      </div>
    </div>
  </div>
    <div class="col">
    <div class="card">
      <img src="https://scontent.fmru4-1.fna.fbcdn.net/v/t1.6435-9/50308250_1701958733238933_7360793871908864000_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=QC2cFVTtLpsAX8DS2rD&tn=9eSGXFVdAPv4G7TI&_nc_ht=scontent.fmru4-1.fna&oh=00_AT_0tXLBvFxZ7ZPbMMctjyGNNqZvPDW4Sm8lllHJEzlskQ&oe=62063094" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Labrador Retriever</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/104273231_2600803843354413_64889568411762912_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=vIxa0dpTnQ0AX9Usz2e&_nc_ht=scontent.fmru7-1.fna&oh=00_AT_DqZQMoJ4EFjAAT2NbnV403vyiqqce7viNRVdzsqAMcQ&oe=620359FF" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cane Corso<br></h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/142361568_3190088481092610_7962497367646323049_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=kag8wkHyhw4AX9Hrxxp&_nc_ht=scontent.fmru7-1.fna&oh=00_AT_P3D0XhpXXJ57zcgKuTPNH1IOgTqHhfJpfHeT0BT_YTA&oe=6201C799" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">French Bulldog<br></h5>
      </div>
    </div>
  </div>
      <div class="col">
    <div class="card">
      <img src="https://scontent.fmru3-1.fna.fbcdn.net/v/t1.6435-9/117581291_2745938732174256_4212233694034400079_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=R6hzqNUuAvIAX_TYF6s&_nc_ht=scontent.fmru3-1.fna&oh=00_AT8CHe8LIjRXZmZOfsBV_lc-ei4ey0hjO-HuyBTm9C7gew&oe=62057486" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cavalier King Charles</h5>
      </div>
    </div>
  </div>
      <div class="col">
    <div class="card">
      <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/79598480_2230456980389103_794564598958129152_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=JZ4N2w36BgYAX8LE6Z2&_nc_ht=scontent.fmru7-1.fna&oh=00_AT8lrdyXtb8ZUFBk8zHOdY0qu27kV45UxXXqbSKyyJ-V2g&oe=6204032A" height="250px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">English Cocker Spaniel<br></h5>
      </div>
    </div>
  </div>
    <br>
</div>
    <br>
    <center><h1>A Little More About Us... </h1><hr><br>
        <p>We also participated in several dog shows(year 2016 - 2019), whereby our dogs stood out among the best in different categories, Below are some memories from our Facebook Page.</p></center><br>

        <div class="row">
            <div class="col"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkaninepassion%2Fposts%2F1617636978337776&show_text=true&width=500" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
            <div class="col"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkaninepassion%2Fposts%2F1678453768922763&show_text=true&width=500" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
            <div class="col"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkaninepassion%2Fposts%2F2077461989021937&show_text=true&width=500" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
        </div>
    <br>
    <br>

    <center><h1>We Are Here To Serve You!! </h1><hr><br>
    <p>We are a team of talented and licensed dog breeders, dedicated to your satisfaction.</p></center>
    <br>
<div class="row row-cols-1 row-cols-md-2 g-4" style="background-image: radial-gradient( circle 1351px at 10% 20%,  rgba(255,247,211,1) 0%, rgba(187,187,187,1) 88% );">
  <div class="col">
    <div class="card">
      <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/64724129_1917348911699913_5856232189208821760_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=m30rQZGfwhgAX-gXTqh&tn=9eSGXFVdAPv4G7TI&_nc_ht=scontent.fmru7-1.fna&oh=00_AT-8dOTfpRyoDhBInpNTdfGhBg0apPDujDw4sgNk8JffsQ&oe=6203E0C8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Keshuv Pandeea</h5>
<!--        <p class="card-text"></p>-->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/66471501_1950493438385460_8861049811239960576_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=vZviFseB6CMAX_HQG6w&_nc_ht=scontent.fmru7-1.fna&oh=00_AT93EmcIfx8mqrNT2C-j_1yBM7b9M0LVlT5uJkozqjpn8g&oe=6201F85A" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Krishna Pandeea</h5>
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
      </div>
    </div>
  </div>
</div>


</div>

{% endblock %}
