{% extends "Kapp/base.html" %}
{% load static %}
{% block content %}
<div class="wrapper-div">
  <!--welcomeimage-->
  <img src="https://scontent.fmru3-1.fna.fbcdn.net/v/t1.6435-9/46519515_1631511140283693_44991006491279360_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=6OVap3p72KUAX8mRBYY&_nc_ht=scontent.fmru3-1.fna&oh=00_AT_LhxB3iAwBqtM9ziFp4G20NwuxcFRuh9kbZhlQdiTjQg&oe=61F961D8" width="100%" alt="...">
<!-- banner-->
  <div class="banner-promo"><br>
  <center><h4 style="color: #872d2b"><i class='bx bxs-dog' style='color:black' ></i><i class='bx bxs-dog' style='color:black' ></i><i class='bx bxs-dog' style='color:black' ></i>Available puppies as from January 2022<i class='bx bxs-dog' style='color:black' ></i><i class='bx bxs-dog' style='color:black' ></i><i class='bx bxs-dog' style='color:black' ></i></h4></center>
    <p><h5>Be quick and give home to our new litter of Labrador Retriever, Cane Corso and French Bulldog Puppies</h5></p>
    <a type="button" href="{% url 'Contact' %}" class="btn btn-outline-danger" type="button" style="color: #fff; background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );border-radius: 16px;">Contact us for more info </a>

</div>
  <br>
  <!--About-->
<center><h1>About Kanine Passion</h1></center><hr>
<br>
   <div class="row">
    <div class="col">
      <img src="https://scontent.fmru4-1.fna.fbcdn.net/v/t1.6435-9/45843886_1617636921671115_146793340703080448_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=OQ6isc1dLZwAX9mtZql&_nc_ht=scontent.fmru4-1.fna&oh=00_AT-H7g1B1asnsJN3fNqqP7sGCej3GZx9JsoFAp2ytfbhQQ&oe=6205AF4E" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col">
      <p>Starting as a new breeder in 2014, by two young passionate dog lovers, Keshuv & Krishna, we eventually made our name in dog breeding.
  We have been producing quality puppies, and we intend to improve the quality by bringing a new bloodline in the coming years and new dog breeds.</p>

      <blockquote>‘’I kept it simple and straightforward. Kanine Passion = Passion/love for dogs! Whatever we do, we do it with passion’’</blockquote>
      <p><small class="text-muted"><strong>Keshuv Pandeea</strong> - Dog Owner and Breeder</small></p>
      <a type="button" href="{% url 'About' %}" class="btn btn-outline-dark" style="color: #fff; border-radius: 16px; background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );">Click here to learn more about us>></a><br>
        <!--review link to the facebook page-->
<a type="button" href="https://www.facebook.com/kaninepassion/reviews/?ref=page_internal" class="btn btn-outline-info" style="border-radius: 16px; background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );">Click here to view our reviews.</a>

    </div>
  </div>

<br>

<!--Services-->

  <!-- option -->
  <section class="section services">
    <br>
    <br>
    <center><h1>Our Services</h1></center><hr>
<p>As licensed dog breeders,  it is our responsibility to provide our clients with puppies from the best bloodlines and to offer flexible services such as dog sitting, payment facilities, pet and food delivery to our clients. </p>
<br>
    <div class="service-center container">

      <div class="service">
        <span class="icon"><i class='bx bxs-dog' style='color:#0059a9' ></i></span>
        <h4>Selective Breeding</h4>
        <span class="text">Parents from the best bloodlines</span>
      </div>

      <div class="service">
        <span class="icon"><i class='bx bx-car' style='color:#0059a9' ></i></span>
        <h4>Food and Pet Delivery </h4>
        <span class="text">Delivered to your doorstep</span>
      </div>

      <div class="service">
        <span class="icon"><i class='bx bx-home-heart' style='color:#0059a9'  ></i></span>
        <h4>Dog-Sitting</h4>
        <span class="text">Depending of the availability of space.</span>
      </div>

      <div class="service">
        <span class="icon"><i class='bx bx-receipt' style='color:#0059a9'></i></span>
        <h4>Security Payments</h4>
        <span class="text">Flexible Payment Methods</span>
      </div>
    </div>
    <br>
    <br>
  </section>
  <!-- end option -->
<div class="clearfix"></div>
<br>
<!-- Gallery  -->
<center><h1>Gallery</h1></center><hr>
  <br>
<div class="masonry-grid">
    <!--Item -->
    <center>
    <div class="masonry-grid__item">
      <img src="https://scontent.fmru4-1.fna.fbcdn.net/v/t1.6435-9/117581291_2745938732174256_4212233694034400079_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=igMEWY_DzUAAX_1SPf0&_nc_ht=scontent.fmru4-1.fna&oh=00_AT9xNm7dO-vC0SMzm7J3jWOGT63peGw1pm_bdGpVIaIrNA&oe=62018006" width="350" height="350">

    <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/78717351_2192174264217375_9190225059812212736_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=1nn97z2ZPFgAX-m8K48&_nc_ht=scontent.fmru7-1.fna&oh=00_AT8YbdPrjHpyonCS1QmIsHE1Si-TK9aI1RpxEFBToiuAHQ&oe=61FD0E24" width="350" height="350">

    <img src="https://scontent.fmru7-1.fna.fbcdn.net/v/t1.6435-9/142361568_3190088481092610_7962497367646323049_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=kdl-pR6DU9EAX85Ui60&_nc_ht=scontent.fmru7-1.fna&oh=00_AT-NB86Zo2c4pVJ8exwBpSHstVpNB8fgBjKNr2UAbe5zfQ&oe=61F9DE99" width="350" height="350">

    <img src="https://scontent.fmru3-1.fna.fbcdn.net/v/t39.30808-6/242890747_3866727156762069_7792361043539831861_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=ycyoTQAVWzEAX8bvEfA&_nc_ht=scontent.fmru3-1.fna&oh=00_AT_W_KGPN6vCIdwpkfpAJrxD_3mUOWCaUdo7RKmMmDTLLA&oe=61E3EE78" width="350" height="350">
      <img src="https://scontent.fmru3-1.fna.fbcdn.net/v/t1.6435-9/103272802_2583588815075916_8627994695449818315_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=hGPN_P_eCH0AX-Tm84D&_nc_ht=scontent.fmru3-1.fna&oh=00_AT-643UOMWAOH3-tKggEywC5X-Uf4EVV8a1dBeaQsgq3ag&oe=6200FB85" width="350" height="350">
      <img src="https://scontent.fmru3-1.fna.fbcdn.net/v/t1.6435-9/82125642_2612473805520750_3783931640855122728_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=nVM8EB8xI0cAX8c38P4&_nc_ht=scontent.fmru3-1.fna&oh=00_AT_RAcZ2uROvSbMKx7QxwAk_cynkkg3BHxd12IKoZyckvQ&oe=6200FF15" width="350" height="350">
          </div>
        <div class="float-end"><a type="button" href="{% url 'Gallery' %}" class="btn btn-outline-light" style="color: #fff; border-radius: 16px; background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );">Click here to see more>></a>
</div><br>

    </center>

    <!-- Repeat other items -->
</div>
<div class="clearfix"></div>

<br>

<!--appointment-->

     <div class="row"  style="background-image: radial-gradient( circle 1351px at 10% 20%,  rgba(255,247,211,1) 0%, rgba(187,187,187,1) 88% );">
       <br>
       <br>
       <center><h1>Book an appointment</h1></center><hr>
  <br>
    <div class="col">
      <img src="https://scontent.fmru3-1.fna.fbcdn.net/v/t1.6435-9/74687693_2130041017097367_290857895409483776_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=btH04ZFgD_sAX-Z7ktQ&_nc_ht=scontent.fmru3-1.fna&oh=00_AT-6Kg2MD_qKbYzaq9xwpVOPQwvJZau6CbYtN9hws7HS_Q&oe=62054A9C" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col">
<p><h4>Want to see more of these adorable puppies? Or would you like to buy one to give it a new home? Don't Hesitate!! <br>
      Be quick and make an appointment with us. We will be glad to help you!!</h4></p>
 <a type="button" href="{% url 'Contact' %}" class="btn btn-outline-danger" type="button" style=" color: #fff; background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );border-radius: 16px;">Make An Appointment>></a>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
<!--Reviews-->
  <br>
  <center><h1>Reviews</h1></center><hr>
<div class="reviews">
  <div class="row">
    <div class="col">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsilvia.dumonde%2Fposts%2F10159019341707226&show_text=true&width=500" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
     <div class="col">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fstef.autrey%2Fposts%2F10157834445346241&show_text=true&width=500" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    <div class="col">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsaraah.dbz%2Fposts%2F2865878450327910&show_text=true&width=500" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>

</div>

 <div class="clearfix"></div>
</div>
{% endblock %}
